body{
  background-image: url('backgroung.jpg')
}
.center{
  text-align: center;
}

.mainTitle{
  text-align: center;
  color: #e68a00
}

 .line {
   border: 1px solid black;
   margin-top: 1%;
   margin-bottom: 1%; }

.quote{
  text-align: center;
  font: italic 1.8em "Fira Sans", serif;
}
.authorImg{
  display: block;
  margin: auto;
  width: 20%;
  height: auto;
}

.imgAlign{
  display: block;
  margin: auto;
  width: 50%;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.OrgSite p{
  text-align: center;
  font-size: 15px
}

.Desc{
  font-family: cursive;
}

.instruct{
  font-weight: bold;
}
